[2015-03-04 16:02] itziakos opened #8 "There no implementation of a CUDS mesh container for this wrapper"
It is not possible to add, get and remove a mesh cuds in the openfoam wrapper.

https://github.com/simphony/simphony-openfoam/blob/master/foam_controlwrapper/foam_controlwrapper.py#L196

[2015-03-04 16:18] itziakos commented on #8
Please note that this is a blocking issue for the integration

[2015-03-11 16:58] khiltunen commented on #8
Added codes to watch to
https://github.com/simphony/simphony-openfoam/tree/feature-openfoammesh-numerola
There is still some open issues. One concerning the boundary patches move to foam mesh. I'm working on that and hope to get working ASAP.  Found that on tests. Another one is concerning uuids on FileMesh cell.points and face.points. I'll report that to  @roigcarlo.

@nathanfranklin
@ahashibon

[2015-03-11 17:20] nathanfranklin commented on #8
@khiltunen   have I been assigned to this issue for review?  or  further implementation?

[2015-03-11 17:33] khiltunen commented on #8
I would appreciate if you could give help also on implementation, but i think if we can overcome those two issues i mentioned, the integration can go further. In the future the main point is to make operations more efficient and also extend to other solvers (only simpleFoam handled at a moment). Every comment on code design are welcome.

[2015-03-12 07:45] khiltunen commented on #8
The boundary treatment issue is now corrected. To get tests pass we need to have the FileMesh cell.nodes, face.nodes, edge.nodes uid issue solved. Carlos is fixing that @roigcarlo.
@itziakos could you also help me on interface library setup. It seems to work otherwise, but the compiled OpenFoam's interface library is not in the path. It will put that to standard OF's user directory, but its seems

[2015-03-12 09:45] nathanfranklin commented on #8
@khiltunen  i can begin looking at it this afternoon.

[2015-03-12 12:44] itziakos commented on #8
2015-03-12 7:45 GMT+00:00 khiltunen <notifications@github.com>:

I have fixed the travis-ci built. The issue is that travis-ci is using
virtualenv to create a separate python environment where python packages
can be installed without the need of sudo. The virtual-env was created with
access to the install python packages, however that setup does not always
work  extension packages like openfoam-in

[2015-03-16 11:02] khiltunen commented on #8
I've made some changes to overcome the uuid problem on FileMesh and i think this is now ready to merge. Let me know if there is something to change before merging at this point.
@nathanfranklin
@itziakos
@ahashibon

[2015-03-16 11:14] itziakos commented on #8
@khiltunen, can you create a pr so that we can make our comments?

[2015-03-16 15:58] nathanfranklin commented on #8
@khiltunen , I started to take a look at the code this afternoon and made some initial comments on the PR. I will look more in detail tomorrow.

[2015-03-18 13:10] itziakos commented on #8
@khiltunen, Why not use the `Mesh` object for the tests?

[2015-03-19 06:28] khiltunen commented on #8
Unittests pass and Mesh object is used there, but in example codes FileMesh is used.

[2015-03-20 12:10] nathanfranklin opened #13 "foam_getCellPoints returns wrong points"
see `std::vector<int> foam_getCellPoints(std::string name, int label)`

[2015-03-20 12:24] khiltunen commented on #13
Did you find something on that ?

[2015-03-20 13:18] nathanfranklin commented on #13
I haven't found a fix or what is going on. I have tried different things but no luck so far.

  It currently doesn't work.

[2015-03-20 13:50] khiltunen commented on #13
I think that the reason is that the Mesh iter_cells() do not keep the ordering. We must obey the ordering which cellShape wants (i think we decided this that SimPhoNy mesh will obey that ordering) to be able to use in addMesh cellShape object. Now it seems that the ordering is lost.

[2015-03-20 13:52] khiltunen commented on #13
I have also tested the interface outside SimPhoNy framework and it seems to work (at least with hex cells) using the original implementation.

[2015-03-20 13:58] khiltunen commented on #13
Looked ta mesh.py and self._cells type is ordinary dictionary not OrderedDict.

[2015-03-20 14:12] nathanfranklin commented on #13
You are right.  It didn't work cause I had a mistake in my test (https://github.com/simphony/simphony-openfoam/blob/feature-openfoammesh-numerola-fix-cell/foam_controlwrapper/tests/test_controlwrapper.py#L100).  Then I begin to debug my changed implementation of `foam_getCellPoints` which never needed to be changed.   Wasted almost a day on that :(

[2015-03-20 14:23] nathanfranklin commented on #13
hmm..wait one second. i think this still might be a bug.  will use a new branch to illustrate the problem

[2015-03-20 14:52] nathanfranklin commented on #13
see #14

I dont think this is the reason.  Because this fails for just 1 cell (so `iter_cells` doesnt play role).

cellShape is given the correct order of points.  cell.points is a list and is in the correct order.

[2015-03-20 15:26] nathanfranklin opened #15 "get_point (FoamMesh) returns a point but the data is missing"

[2015-03-20 15:36] khiltunen commented on #13
I did meaned to write iter_points(). But points does not have to be inborder if we have label uid mapping and cell.points order is kept

[2015-03-20 15:42] nathanfranklin commented on #13
right

so #14 is a bug, right? as cell.points order is correct

[2015-03-20 17:15] nathanfranklin commented on #13
I have checked the hex `cellShape` in foam_addMesh and it has the correct order of points.  After creating this new mesh ( at https://github.com/simphony/simphony-openfoam/blob/feature-openfoammesh-numerola/openfoam-interface/simphonyInterface.C#L636) then if you ask for the cell's shape `cellSphape`, it has the wrong order of points.

I have been trying different things in `foam_getCellPoints` to

[2015-03-20 17:15] nathanfranklin commented on #13
@khiltunen  did you write `foam_getCellPoints` and `order_cellPoints`.  if not, can you point me to where they are from.

[2015-03-20 17:17] nathanfranklin commented on #13
@khiltunen  i think we need to set up a testing of `simphonyInterface.C` (or alternatively `openfoam-interface`).

we would a test(s) which uses uses the following method:
[code]
and then tests the results of:

[code]

I will have time to look at this issue or other openFoam-wrapper issues on Monday but then the rest of the week I am not able to devote much time.

[2015-03-20 18:16] khiltunen commented on #13
Those are written by my self. I think that this procedure will not return the same ordering of points but it will return ordering which match cellShape ordering. Namely you can start the node ordering from every node and then add points from every face the point belongs to and after that the nodes from opposite side face. I think that if the global node ordering is not changed then it might return

[2015-03-20 18:42] nathanfranklin commented on #13
does the global node ordering change?

I think I understand that and see for `cell.points` for FoamMesh supports only what can be described by  open foam 'cellShapes' ( .e.g. `(hex 8(0 1 2 3 4 5 6 7))`from http://www.openfoam.org/docs/user/mesh-description.php ).

I see in the test (https://github.com/simphony/simphony-openfoam/blob/feature-openfoammesh-numerola/foam_controlwrapper/tests/test_cont

[2015-03-23 08:18] khiltunen commented on #13
I think that when mesh is converted to OpenFoam's internal format using cellShape there is no mechanism to recover the original ordering of nodes in cell without having the original cellShape ordering information. We can get ordering which fullfills cellShape ordering, but it always depend on what node and face of the cell is choosed to start the noce ordering. See attached image
![of cellshape an

[2015-03-24 15:16] nathanfranklin commented on #15
Not a bug.      I opened it cause in the test file, velocity was added to the points.  Turns out that currently there is no data stored on particles.

[2015-03-24 15:16] #15 closed

[2015-04-01 17:41] itziakos opened #17 "Use specific versions for package depedencies"
It looks that we are currently running tests using the latest master version of the simphony-commons library. As a result due to frequent changes (some of the not backwards compatible) that take place in the simphony-commons library will cause the test builds to fail, which make developement a litle more complicated.

To counter the effects of a fast paced development in simphony-common a common p

[2015-04-02 06:11] khiltunen commented on #17
This is ok

[2015-04-13 10:15] #8 closed

[2015-04-13 10:17] #13 closed

[2015-04-13 10:47] itziakos commented on #8
@khiltunen, not all of the operations are currently supported correct?

Can you create an github issue (or issues) on what is currently not supported from the Mesh CUDS container API.

[2015-04-23 13:36] ahashibon opened #21 "Multiphase cases fail: wrong enteries in the transportProperties OF dictionary."
Mesh name  poiseuille_vof

    Default patch type set to empty
    Case directory  /tmp/tmpsaoY2V/poiseuille_vof
    Simulation run up to time:  0
    Closing remaining open files:poiseuille_vof/poiseuille_vof.cuds...done

iteration 0! can't be right....the openfoam222 log file:

    --> FOAM FATAL IO ERROR:
    invalid first character found : '

    file: /tmp/tmpsaoY2V/poiseuille_vof/constant/tr

[2015-04-27 11:34] khiltunen commented on #21
The wrapper was not updated to new syntax. Earlier in the examples there was only one surface tension
and one could say in the code that:
 wrapper.SP_extensions[CUBAExt.SURFACE_TENSION]  = 72.86e-3

This will be fixed asap to obey syntax

wrapper.SP_extensions[CUBAExt.SURFACE_TENSION] = {('water', 'air'): 72.86e-3}

[2015-05-19 16:06] itziakos opened #24 "Provide a single setup.py to install the full simphony-openfoam plugin"
There should be only a single top level  `setup.py` that will make sure that the necessary extensions and subpackages are build and installed. The current setup requires to manually build a python extension and install two separate packages. This makes it very difficult (if not impossible) to install and update the simphony-openfoam package using `pip` (the standard python package installer).

The

[2015-05-19 16:09] itziakos commented on #24
It makes it very difficult to integrate openfoam with the rest of the simphony-framework.

[2015-05-19 16:11] itziakos commented on #24
Corrected description of the issue.

[2015-05-19 21:13] itziakos commented on #24
For the moment integration can use a workaround but the package setup should be streamlined in one of the future releases.

[2015-05-21 10:10] itziakos opened #25 "test have to be run from a specific directory"
Running the test suite

python -m unittest discover foam_controlwrapper from any directory except the repo folder fails with the following errors.

[code]

It looks that the test case is a little fagile and expects that the 'simplemesh.cuds' is also installed at a specific directory and that the test runner started from a specific working directory.

One needs to probably adds the 'simplemesh.cuds

[2015-05-21 10:17] itziakos commented on #25
see bugs https://github.com/simphony/simphony-common/issues/148 and https://github.com/simphony/simphony-common/issues/144 for specific bugs regarding the Mesh objects that can lead to corrupted data

[2015-05-21 10:28] itziakos commented on #25
Corrected description and title, the problems is still there but it is caused not been in the root folder of the repo when running `python -m unittest discover foam_controlwrapper`. This also means that tests cannnot be run on the installed package if it was installed thought `pip`

[2015-06-03 13:17] nathanfranklin opened #26 "tests fail when reading simplemesh.cuds"
@TobiasRasp and I noticed a problem when running the tests on simphony-openfoam.  See below for details  We were using a recent version of simphony-common which caused a problem when running the simphony-openfoam tests as the file used for testing ``foam_controlwrapper/tests/simplemesh.cuds`` is in an older format.

I would suggest what was also suggested in #25 that if it is possible, it would be

[2015-06-04 06:14] khiltunen commented on #26
This is a common problem with cuds files. I can make adjustments to generate it on runtime.This needs to include corresponding foam mesh files to package.

[2015-06-05 06:04] ahashibon commented on #24
totally agree!

[2015-06-05 07:34] ahashibon commented on #26
adding the mesh file from openfoam and converting should be a good intermediate solution. Once we have ncadfluid and the boundary (geometry) is supported in CUDS, we can generate the mesh from scratch. We should add this to the to-do list once the specifications are finalized in the SSB.

[2015-06-08 07:26] nathanfranklin commented on #26
adding the mesh file from openfoam and converting should be a good intermediate solution.

sounds good for ``foam_controlwrapper/examples/poiseuille/poiseuille.cuds`` where i imagine the mesh is complicated.  Is  the mesh in ``foam_controlwrapper/tests/simplemesh.cuds`` simple enough that it can be generated dynamically (i.e. create a stand-alone mesh and then add the required points, cells, etc.)

[2015-06-08 09:48] khiltunen commented on #26
I suppose that foam needs at least two cells to get solution changed after two consequent solving step. Then the mesh can be quite easily constructed with corresponding boundaries in the tests.

[2015-06-09 09:27] itziakos opened #27 "Errors when running the tests from inside the simphony-framework"
Running the tests from inside the simphony-framework (https://github.com/simphony/simphony-framework/pull/27) fails with the following traceback.

[code]

**Note**: using simphony-common 0.1.3

[2015-06-16 08:58] nathanfranklin commented on #27
@khiltunen , i can pick this up if that is okay with you.

[2015-06-17 04:43] khiltunen commented on #27
It's okay. Thank's

[2015-06-17 08:16] TobiasRasp opened #30 "foam_mesh_to_h5cuds.py fails"
when running the comand:

[code]
from the examples section of the OpenFoam-wrapper (simphony-openfoam version 0.1.2dev0 (13e2f4898ab84c29b1dba19a68dcf31ea4e5ba80)) the following error message appears:

[code]

The problem can be solved by changing the method definition
[code]
to
[code]
in foam_controlwrapper.py

[2015-06-26 18:36] jmarcelogimenez opened #32 "make a single poiseuille.py"
Currently both foam_controlwrapper and foam_internalwrapper has its own poiseuille.py example case. The target is to obtain a single example which switches between both implementations.

[2015-06-29 19:51] nathanfranklin opened #33 "create common testing framework"
create common testing framework for both test_internalwrapper.py and tests/test_controlwrapper.py whose code overlaps

[2015-06-29 19:53] nathanfranklin opened #34 "have single cuba_extension file"
foam_internalwrapper/cuba_extension.py is identical to foam_controlwrapper/cuba_extension.py. There should be a single module that both the FILE-IO and INTERNAL wrapper uses.

[2015-06-29 19:55] nathanfranklin opened #35 "engine's run method is different that abcmodelingengine"
the FILE-IO and INTERNAL wrappers's run method is incorrectly returning something

[2015-06-30 13:38] jmarcelogimenez commented on #33
We have analyzed how to continue with the solution of this and other issues. It is true that the code of these tests overlap, but we do not have any reference about how to deal with this.
In the case of issue https://github.com/simphony/simphony-openfoam/issues/32 we do not see another option than mix both pouiseille.py through a copy&paste of one along the other, in order to execute only once the

[2015-06-30 13:43] jmarcelogimenez commented on #24
In the PR #23 we have solved it. Now, only a single setup.py is employed for the installation.

[2015-06-30 15:13] nathanfranklin commented on #33
Testing both wrappers to ensure that they both behave in the same manner is good.  Here, the problem lies in the code duplication; the tests are identical  (only which wrapper is running is different).  By fixing this issue, maintenance of existing tests will be easier and it will also be easier to extend the tests as well.

For example, there is a file-io and internal wrapper for lammps where the

[2015-06-30 15:55] nathanfranklin commented on #27
@khiltunen , I am stuck on #31 and waiting for your input.

[2015-06-30 15:59] nathanfranklin opened #36 "License file is missing"

[2015-06-30 16:02] nathanfranklin commented on #36
@jmarcelogimenez , @khiltunen ,  a LICENSE file should be added.  It sounded like GPL was the required license for simphony-openfoam

[2015-06-30 16:17] santiagomarquezd commented on #36
Hi @nathanfranklin, @khiltunen and @jmarcelogimenez FOAM's derivative work have their own license header in each file. Maybe another file should be added for the original contributed coded. I agree that GPL license is the correct one, however the description should be update in the document since there simphony-openfoam appears as being LGPL licensed work.

[2015-06-30 17:36] itziakos commented on #24
is there a reason why an `Extension` command (see https://docs.python.org/2/extending/building.html) was not used?

[2015-06-30 17:57] itziakos opened #37 "duplicate foam_mesh.py"
There two foam_mesh.py in the same subpackage

https://github.com/simphony/simphony-openfoam/blob/master/foam_internalwrapper/tests/foam_mesh.py

and

https://github.com/simphony/simphony-openfoam/blob/master/foam_internalwrapper/foam_mesh.py

It looks that the one inside the tests folder is a copy and should probably be removed

[2015-06-30 18:06] itziakos commented on #24
Even after  #23 was merged there are still two setup.py and the main one calls the second through a bash script. This is not recommended since we are just discarding on the setuptools machinery and we are still installing two separate packages (this is similar the workaround that we have setup in simphony-framework). The two setup.py files should be consolidated and use `setuptools` so that binary

[2015-07-02 10:59] khiltunen opened #39 "Parallel processing documentation"
Include to documentation of the limitation of mesh size to parallel processing used with the FILE-IO wrapper
 Also include to documentation if parallel processing is not available on the INTERNAL wrapper (https://github.com/simphony/simphony-openfoam/blob/590934b845730ffc5cd938b31d491078d312a115/openfoam-interface/internal-interface/wrapper/simphonyInterface.C#L1108)

[2015-07-02 11:00] khiltunen commented on #39
@nathanfranklin and @jmarcelogimenez i added this isuue to remind that these should be added to documentations

[2015-07-03 08:01] #21 closed

[2015-07-03 08:11] khiltunen commented on #30
read_foammesh was earlier classmethod, but it was changed. It is better to change the foam_mesh_to_h5cuds.py so that the method is imported from module. I'll make a new branch for bug fix

[2015-07-03 12:13] #26 closed

[2015-07-03 12:13] #27 closed

[2015-07-03 12:14] #30 closed

[2015-07-06 11:33] nathanfranklin opened #41 "lacking tests for foam_internalwrapper/foam_mesh.py"
There are no unit tests for FoamMesh (```foam_internalwrapper/foam_mesh.py```).

[2015-07-21 14:54] TobiasRasp opened #43 "Running wrapper with CUDS input file dependent on corresponding pimary data files"
Even after a CUDS input file was generated with foam_mesh_to_h5cuds.py from the data stored in case/constant/polyMesh/ (i.e. boundary, faces, neighbour, owner, points), it is required for a successful run to have this primary set of data files available in this folder.
Wouldn't it be better if the CUDS file provides all the mesh information required as a stand alone file that is accordingly portab

[2015-07-21 15:34] TobiasRasp opened #44 "Alphabetic sorting of time directories"
The method get_last_time (foam_runner.py) contains a alphabetic sorting of a list of existing time
directories:
time_dirs.sort()

This leads to errors when having for example the directories [500, 1000, 1500, 2000]. After alphabetic sorting this becomes [1000,1500,2000,500].

Correct numeric sorting can be done e.g. by
time_dirs.sort(key=lambda time_dirs: int(time_dirs.split()[0]))

[2015-07-21 15:53] TobiasRasp commented on #43
For example if the boundary file is missing in case/constant/polyMesh/, the following error message is given:

Traceback (most recent call last):
  File "poiseuille.py", line 46, in <module>
    lastTime = wrapper.run()
  File "/W5/ras/SimPhoNy/Kopplung_CFD-MD/WrapperNew/simphony-openfoam/foam_controlwrapper/foam_controlwrapper.py", line 91, in run
    solver, self.SP_extensions, self.CM_extension

[2015-07-22 14:42] nathanfranklin opened #45 "Problem installing pyfoam"
Command with error message:
[code]

[2015-07-22 14:45] nathanfranklin commented on #45
The README of simphony-openfoam says *Package foam_controlwrapper requires python 2.7.x, OpenFOAM 2.2.2 and pyFoam 0.6.4* but the command checks out and installs the latest version.

Maybe it would be more appropriate to use https://openfoamwiki.net/images/3/3b/PyFoam-0.6.4.tar.gz (from https://openfoamwiki.net/index.php/Contrib/PyFoam#Downloads).

[2015-07-22 18:20] jmarcelogimenez commented on #17
Is this issue solved by #19 ?

[2015-07-23 08:03] nathanfranklin commented on #17
Yea, this issue is addressed by #19 (but needs to be updated to reflect changes in master and that simphony-common 0.1.3 is the stable release being used)

[2015-07-23 08:29] nathanfranklin commented on #45
I would also imagine that the `setup.py` should be updated to reflect this PyFoam required (e.g. `install_requires=...`)

[2015-07-23 09:20] nathanfranklin opened #46 "install returns success exit status even when wmake command not found"
If user forgets to run `. /opt/openfoam222/etc/bashrc`, then the two separate packages are installed and user would assume that everything is properly installed although some of the required software (for the INTERNAL wrapper) was not built.

There is a printed message (***./install_foam_interface.sh: line 5: wmake: command not found***) but  can be easily overlooked as the later messages suggest

[2015-07-23 09:21] nathanfranklin commented on #46
I would suggest addressing #24 and specifically https://github.com/simphony/simphony-openfoam/issues/24#issuecomment-117286625 first

[2015-07-23 16:22] nathanfranklin commented on #45
I have a commit so that simphony-framework now uses 0.6.4 (instead of the latest): https://github.com/simphony/simphony-framework/commit/7432496d4380ec7348d7485dc7a33a3c4c41a04a

[2015-07-23 16:24] nathanfranklin commented on #45
@norbertonigro @jmarcelogimenez @khiltunen , can anyone pick this issue up?

[2015-07-23 16:31] santiagomarquezd commented on #45
Hi @nathanfranklin, pyFoam is required only in I/O wrapper.

[2015-07-31 15:56] jmarcelogimenez commented on #25
In the current working branch (fix-issues-july2015), we are proposing a dynamic discovery of the mesh file during the test run. It requires adds the 'simplemesh.cuds' to the installation, and look it in the 'site_packages' folder. With this change, the unittest is working from any folder.

As @itziakos said,  It is better not to depend on a file but create the CUDS containers components at runtime

[2015-07-31 15:57] jmarcelogimenez commented on #35
Solved in branch fix-issues-july2015, modified in both internal and io wrappers.

[2015-07-31 15:57] jmarcelogimenez commented on #36
We added the LICENSE file with the corresponding GPL license in the branch fix-issues-july2015.
Although the recommended practice is to add the license notice in every file, only specifying the license of the entire project in a license file (LICESE or COPYING) in the root folder is enough.

[2015-07-31 15:57] jmarcelogimenez commented on #37
Solved in fix-issues-july2015

[2015-07-31 15:57] jmarcelogimenez commented on #41
A unittest for foam_mesh is added in the branch fix-issues-july2015

[2015-07-31 16:10] itziakos commented on #25
If the tests create the containers on the fly at runtime there is no need for using the hdf5 backend and thus no reason to wait.

[2015-08-02 06:40] nathanfranklin commented on #35
I would suggest splitting up fix-issues-july2015 into separate branches.  it would be easier to review  the separate PRs.   For example, it would be easy to review the PR for this work and not let get delayed by any issues in the other PRs.

[2015-08-06 19:18] jmarcelogimenez commented on #25
Note: We have returned back with this change. The issue is still open.

[2015-08-13 06:23] khiltunen commented on #45
I can make those changes to setup.py and install_external script

[2015-08-13 07:11] khiltunen commented on #44
I'll pick this up now

[2015-08-13 07:51] khiltunen commented on #43
This all will be changed when we have enough properties on SimPhony core to create boundary sets and use specific BoundaryCondition class. Now the boundaries must be named as boundary0, boundary1,..., while the boundary faces are marked using CUBA.LABEL which must be a numeric value. Also when boundaries are directly specified as list of faces all the operations are going to be much faster. So thi

[2015-09-15 16:29] nathanfranklin opened #51 "Use latest version of simphony-common (>=0.2.0)"

[2015-09-24 12:14] nathanfranklin commented on #45
Fixed by #47

[2015-09-24 12:14] #45 closed

[2015-10-06 06:38] #44 closed

[2015-10-06 06:39] #41 closed

[2015-10-06 06:39] #37 closed

[2015-10-06 06:40] #35 closed

[2015-10-20 12:06] nathanfranklin commented on #51
I have seen the work on https://github.com/simphony/simphony-openfoam/tree/use-common-0.2.  Any updates on that?

[2015-10-20 12:19] khiltunen commented on #51
Juan has now fixed the issue on updating values at once on internal wrapper and we can make PR on this. I just have to do some modifications to unit tests.

[2015-10-20 12:49] nathanfranklin commented on #51
Thanks for the update!

[2015-10-28 13:50] nathanfranklin opened #54 "coveragerc omits foam_internalwrapper"

[2015-10-28 14:46] nathanfranklin commented on #36
LICENSE file is still missing.

[2015-10-29 07:22] khiltunen commented on #36
LICENSE file will be added to branch use-common-0.2

[2015-10-29 08:22] nathanfranklin commented on #36
There is also PR #50

[2015-10-29 11:43] nathanfranklin commented on #36
closed by #50

[2015-10-29 11:43] #36 closed

[2015-11-30 13:26] TobiasRasp opened #56 "Failing installation procedure on Ubuntu"
On Ubuntu the installation procedure fails when applying the command "python setup.py install" in the folder "/simphony-openfoam/openfoam-interface/internal-interface/wrapper", which is part of install_foam_interface.sh.

[code]

Using sudo results in the following:

[code]
So, virtualenv was required for a proper installation.

[2015-12-01 16:26] TobiasRasp opened #57 "Internal wrapper: Modifications of input values in poiseuille example not considered in simulation run"
Using the internal wrapper, interactive parameter settings e.g. via wrapper.SP[CUBA.NUMBER_OF_TIME_STEPS] or via wrapper.SP[CUBA.DYNAMIC_VISCOSITY] in the poiseuille example are not reflected in the respective run files controlDict and transportProperties.
Instead some static values seem to be used independent of what is given in the example.

For the IO control wrapper everything works fine!

[2015-12-03 12:19] khiltunen commented on #57
@jmarcelogimenez can you look at this. I made a quick test and add the following printing sentences to the end of the  interface function modifyNumerics

Foam::Info<< "controlDict.endTime " << controlDict.lookup("endTime") <<Foam::endl;
Foam::Info<< "runTimes[name].endTime " << (*(runTimes[name])).endTime() <<Foam::endl;
Foam::Info<< "runTimes[name].controlDict().lookup(endTime) " << (*(runTimes[n

[2015-12-11 18:24] jmarcelogimenez commented on #57
Bug solved in branch #issue57

[2015-12-14 07:18] khiltunen commented on #57
@jmarcelogimenez. I tested and seems to work now.

[2015-12-14 15:14] jmarcelogimenez commented on #57
Ok, If there is not any objection, I'll merge

[2015-12-14 18:53] jmarcelogimenez opened #59 "Migration to OpenFOAM 2.4"
This issue is opened to follow the migration of the simphony-openfoam wrapper to employ OpenFOAM 2.4.

[2015-12-17 12:55] TobiasRasp commented on #57
Time control handling works fine now!
But as far as I see, the values of CUBA.DENSITY and CUBA.DYNAMIC_VISCOSITY that can be set e.g. in the poiseuille example are not handed over to the OpenFoam solver. Instead, the default value for nu from the template in foam_internalwrapper/foam_dicts.py (line 42) is used, which is zero. Please correct me from wrong, if this is not true, but I couldn't find a

[2015-12-17 14:16] jmarcelogimenez commented on #57
Currently is a pending task for internal interface. But it will be developed directly over the branch migration_OF24.

[2015-12-17 15:07] TobiasRasp opened #60 "Solver availability in control and internal wrapper"
By setting CUBAExt.INCOMPRESSIBLE, CUBAExt.LAMINAR_MODEL in the poiseuille example of the fileIO-control wrapper, simpleFoam is used internally to solve the problem. On the other hand, pimpleFoam is applied (by default) for the poiseuille example of the internal wrapper, when the same setting is given.

It would be great, if the same set of OpenFoam solvers (i.e. simpleFoam, pimpleFoam, interFoam)

[2015-12-17 15:17] santiagomarquezd commented on #60
Hi @TobiasRasp, each solver requires a particular wrapping strategy and the original task was set to work with laminar incompressible and mixture. Our decision for pimpleFoam was due to the problem is transient and several PISO corrections are required in each time-step, which in simpleFoam are not available. I suppose that @khiltunen was focused in the stationary solution for the poiseuille case.

[2015-12-17 15:32] TobiasRasp commented on #60
I agree on the need for a transient solver and pimpleFoam is absolutely fine for me! My point is more about the fact that pimpleFoam is not supported in the IOcontrolwrapper (or vice versa simpleFoam is not supported in the internal wrapper). And it is a bit confusing that the identical input example triggers two different solvers (pimple for internal / simple for control wrapper) when currently s

[2015-12-18 06:09] khiltunen commented on #60
@TobiasRasp this will be fixed on the migration to OF2.4. Default solver will be pimpleFoam also on IO wrapper.

[2016-01-11 13:57] kitchoi commented on #56
I believe the problem would be resolved if one does this before setup.py
[code]
(or openfoam230 instead of openfoam222 depending on the version of simphony-openfoam you are installing)

[2016-01-14 12:21] nathanfranklin commented on #25
@khiltunen , i think this can be closed as you fixed it in #53, right?

[2016-01-14 12:31] khiltunen commented on #25
You are right

[2016-01-14 12:35] nathanfranklin commented on #25
closed by #53

[2016-01-14 12:35] #25 closed

[2016-01-14 12:52] nathanfranklin opened #62 "running the tests should not create files in the local directory"
A directory `test_path` is created when running the tests.

Seen when running simphony-framework (simphony-openfoam version 0.1.5)

[2016-01-14 13:13] khiltunen commented on #62
Okey. This results from the mesh creation. I'll fix that to the next version.

[2016-01-14 13:20] khiltunen commented on #62
It seems that it is already fixed on the ongoing PR.

[2016-01-15 10:18] kitchoi opened #63 "Poiseuille example has scalar as Angular Velocity"
I tried to run the poiseuille example in simphony-openfoam/foam_controlwrapper/examples and found that the CUBA.ANGULAR_VELOCITY in the cells are scalars.  However the expected shape of the angular velocity data should be (3), according to ``simphony.core.keywords.KEYWORDS["ANGULAR_VELOCITY"].shape``.

Use case:  Because of this, mayavi wasn't able to visualise the mesh data until I manually made

[2016-01-15 10:56] khiltunen commented on #63
This comes from the fact the cuba.yml in simphony-common is not containing all the variables (CUBA keywords) needed. To get things working some other CUBA variable is chosen. We could try to choose CUBA variables with the same dimension though, which can be a temporary solution until cuba.yml is complete.

[2016-01-15 11:01] khiltunen commented on #63
Actually this temporary fix is already done on current WIP version (branch migration_OF24). Note that this needs OpenFoam 2.3 (on ubuntu 12.04LTS) or OpenFoam 2.4 (on ubuntu 14.04)

[2016-01-15 11:02] ahashibon commented on #63
Please go ahead and add new cuba in the yaml file, ask for review and make a pull request as usual in other packages. In this way the cuba can grow as needed.

[2016-01-15 11:05] khiltunen commented on #63
Okey. I'll do that.

[2016-01-18 12:44] ahashibon opened #65 "Naming convention clashes"
the naming of the internal-interface and wrapper here:

1. The internal in "internal-interface" conflicts, and confuses with the notion of internal SimPhoNy (as opposed to File-IO) wrapper. Please consider renaming to, e.g.,  simphony-foam or foam-adaptor, or ...

2. The name "wrapper: in this context is also misleading. The "wrapper"  should be preserved for the public interface (i.e., currently

[2016-01-18 13:21] ahashibon opened #66 "OpenFOAM sources"
For each source and header file it should be clear what changes SimPhoNy required and why. These should be documented for easy access, e.g., in the Readme and the comments in the respective files.

In addition, for each additional file that does not have an obvious meaning from the name or location, please add proper short documentation (e.g., for file_1, file_2, etc).

[2016-01-18 14:32] #62 closed

[2016-01-18 14:32] khiltunen commented on #57
Fixed in version 0.2.0

[2016-01-18 14:32] #57 closed

[2016-01-18 14:33] #59 closed

[2016-01-18 14:34] #56 closed

[2016-01-18 14:35] khiltunen commented on #60
Fixed in v 0.2.0

[2016-01-18 14:35] #60 closed

[2016-01-18 14:35] khiltunen commented on #54
fixed in v 0.2.0

[2016-01-18 14:35] #54 closed

[2016-01-18 14:36] khiltunen commented on #51
fixed in v 1.5.0

[2016-01-18 14:36] #51 closed

[2016-01-18 14:36] #43 closed

[2016-01-18 14:37] #34 closed

[2016-01-22 16:59] kitchoi opened #68 "CUBA.TIME_STEP and CUBA.NUMBER_OF_TIME_STEPS should be in CM"
Ref.: https://github.com/simphony/simphony-mayavi/pull/116

[2016-04-21 08:11] mehdisadeghi opened #73 "Implement wrapper metadata class"
Use lammps-md as reference implementation:
https://github.com/simphony/simphony-lammps-md/pull/115

[2016-06-28 01:43] itziakos opened #74 "Tests are run against a commit of simphony-common instead of a tagged release"

[2016-07-05 12:03] TobiasRasp opened #75 "easy-install.pth is not updated when reinstalling simphony-openfoam"
When I install a new version of the OpenFoam wrapper while another one already exists in a different folder, the according path in the easy-install.pth file is not updated (whereas the one for simphony-common was updated).

I assume that this is a bug, but I can't tell if this is only due to my specific settings as I have to setup my system with the user option (i.e. "python setup.py install --use

[2016-07-05 12:29] TobiasRasp opened #76 "Enhancements for contactAngle BC treatment"
In order to deal with contact angle boundary conditions in the OpenFoam wrapper (necessary for task 5.4), I propose to add two points to the code:

1. It would be great to be able to set the maximum Courant number to a value different to the default one, which is 1.0. I realized that the default value is too high causing unrealistic results in the case of bubble flow in a channel.
Setting maxCo in

[2016-09-07 09:31] TobiasRasp commented on #76
Hi Kai,

I tried to test the new release with my example that is about a bubble floating through a channel driven by a pressure gradient (see attached below. Again I had to change the file extension from py to txt for uploading purposes).

However, it failed! The error message for the IO wrapper is:
`--> FOAM FATAL IO ERROR:
keyword type is undefined in dictionary "IStringStream.sourceFile.inlet"

[2016-09-07 10:22] khiltunen commented on #76
Hi Tobias,

wrapper did not had flowRate BC implemented. I added that and pushed changes to branch. I'll look at that dahl example later. It might be something to do with the fixedFluxPressure BC...

[2016-09-07 11:33] TobiasRasp commented on #76
OK, thanks! I'll check the changes on Monday since I'm off now for the weekend already.

[2016-09-12 08:59] TobiasRasp commented on #76
Oh, you are right! I additionally added the flowRate BC to get my example running. Thanks a lot for adding it to the new repository version! So, the error message was due to this extra change from my side.
My example is running now with the current version also on my machine!

[2017-01-18 22:31] TobiasRasp opened #87 "Modifications for droplet/particle example"
Hi Kai,

two slight modifications to the master version of the OpenFoam wrapper are necessary to get the "falling droplet/particle" coupling example running, which I showed on the SimPhoNy meeting just before Christmas. This one is important for the nano-printing application in Task 5.5.

The first modification is about the geometry I used in this example. It was no longer a channel-type geometry

[2017-05-16 17:46] ahashibon opened #92 "InterSimPhoNyFoam missing"
In foam_internalwrapper/foam_dicts.py, interFOAM solver is mapped to the non-existent interSimPhoNzFoam, need to remove it to get it running, as we use the vanilla solver here.

def get_simphony_io_solver(foam_solver):
    simphony_solvers = {'pimpleFoam': 'pimpleSimphonyFoam',
                        'simpleFoam': 'simpleSimphonyFoam',
                        'interFoam': 'interFoam',

[2017-05-16 17:48] ahashibon opened #93 "Wetting angle boundary condition"
should add testing for variable == CUBA.CONTACT_ANGLE or variable == CUBA.VOLUME_FRACTION for driftFluxFoam and interFOAM solvers.

[2017-06-29 10:38] stefanoborini opened #95 "Rename package to simphony_openfoam"
The current package name is foam_wrappers. it makes little sense to introduce this inconsistency which is also present everywhere else (simlammps instead of simphony_lammps) etc.

[2017-06-29 10:50] stefanoborini opened #96 "Dependencies are incorrect"
The current situation with the dependencies is incorrect.

- requirements.txt installs simphony-common with an incorrect syntax for the version and the egg name.
- the requirements.txt is never used in travis.
- travis installs additional dependencies (numexpr, cython) that is not clear if they are develop dependencies or runtime dependencies.

[2017-06-29 13:21] stefanoborini opened #98 "Exception running droplet impact simulation"
I get the following exception running the droplet experiment

[code]

[2017-06-30 05:39] khiltunen commented on #98
There is a working branch 'support-point-data' where this Boundary condition is included. It was waiting to get feedback but i think that it can be merged.

[2017-06-30 15:25] stefanoborini opened #100 "binary extension package must be separated from the pure python one."
The build system currently is out of best practices. The reason is that the setup.py delegates to a install_foam_interface.sh that does compilation and installation of an unrelated package, including installing on the user's home directory.

To accommodate edm packaging this has to change.

1. extension module and libraries must be in a separate repo and package, and packaged as a separate egg.
2.

[2017-06-30 15:37] stefanoborini commented on #24
Still on topic with involvement of EDM and therefore #100

[2017-06-30 16:09] dpinte commented on #100
@stefanoborini if you move the `python install`[1]  call out of the `sh` script, you should be able to ` common.local_repo_to_edm_egg(".", name=xxx, version=xxx, build=xxx)`
 on the `openfoam-interface/internal-interface/wrapper` directory and get an egg out of it.

[1] https://github.com/simphony/simphony-openfoam/blob/master/install_foam_interface.sh#L37

[2017-06-30 16:16] stefanoborini commented on #100
@dpinte Not really, the setup.py install actually creates the extension. Also, I work under the assumption that one repo = one egg. I would have to generate two eggs here.

[2017-06-30 16:17] stefanoborini commented on #100
Additionally, all those commands end up installing the .so files under my home directory. They should really be part of the resulting egg, but then openfoam needs to find them.

[2017-06-30 16:29] dpinte commented on #100
@stefanoborini
- the .so files can be added in the egg using the endist.dat. If you get them copied to `usr/lib` in the egg they will be copied at the right place when the egg will be installed.
- I am not sure how hard it will be to improve `buildcommons` to support directory based builds. My feeling is that it will be much easier than trying to split this repository in two separate ones. Looking

[2017-06-30 17:59] stefanoborini commented on #100
@dpinte

1. yes, that is possible. Just not very elegant.
2. there's a "version 2" of that module here https://github.com/simphony/buildrecipes-common/blob/master/buildcommons/__init__.py#L84 that builds from a local repo.
3. I think it's wmake, but I would have to investigate further. In any case, I expect it will need some combing for the rpath.

That said, putting everything inside one egg feel

[2017-07-03 09:16] dpinte commented on #100
@stefanoborini I am not suggesting to put everything into the same egg. I think we need to keep two eggs separated. Having to rebuild the openfoam extension when you make changes to the pure python code, would not make sense.

For the rpath, let's see what happens when packaged. I suspect it will work as expected.

[2017-07-04 14:07] stefanoborini commented on #100
@dpinte I still think it's kind of wrong to have that setup. #101 is a workaround.

[2017-08-07 11:57] #73 closed